<div class="row">
  <div class="col-sm-4">
    <h4>Team Edit</h3>
    <%= form_with(model: @team, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :team_name, 'Team name' %>
        <%= f.text_field :team_name, class: 'form-control' %>
      </div>
      <%= f.submit 'edit', class: 'btn btn-warning btn-block btn-sm' %>
    <% end %>
    <div class="mt-2">
      <%= link_to 'team delete', @team, method: :delete, data: { confirm: '本当に削除してよろしいですか？'}, class: 'btn btn-danger btn-block btn-sm' %>
    </div>
  </div>
  
  <div class="col-sm-8">
  </div>
</div>